@using Portfolio.Components.Icons
<nav class="bg-gray-800 shadow-lg">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
                <div class="hidden md:block">
                    <div class="flex items-baseline space-x-4">

                        <NavLink ActiveClass="bg-gray-900 text-white" Match="NavLinkMatch.All" href="/"
                                 class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                            Home
                        </NavLink>
                        <NavLink ActiveClass="bg-gray-900 text-white" href="/blog"
                                 class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                            Blog
                        </NavLink>
                        <NavLink ActiveClass="bg-gray-900 text-white" href="/toolbox"
                                 class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
                            Toolbox
                        </NavLink>
                    </div>
                </div>
            </div>
            <div class="ml-4 flex items-center md:ml-6">
                <div class="relative ml-3">
                    <ThemeSwitch/>
                </div>

                <div class="hidden md:block">
                    <div class="ml-4 flex items-center md:ml-6">
                        <div class="relative ml-3">
                            <div>
                                <div
                                    class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                                    <span class="absolute -inset-1.5"/>
                                    <img class="h-8 w-8 rounded-full" src="portrait.jpg" alt=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="-mr-2 flex md:hidden">
                    <button
                        @onclick="ToggleMobileMenu"
                        class="ml-3 relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                        <span class="absolute -inset-0.5"/>
                        <span class="sr-only">Open main menu</span>
                        @if (IsMobileMenuOpen)
                        {
                            <XMarkIcon/>
                        }
                        else
                        {
                            <Bars3Icon/>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
    @if (IsMobileMenuOpen)
    {
        <div class="md:hidden">
            <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
                <NavLink
                    @onclick="ToggleMobileMenu"
                    href="/"
                    Match="NavLinkMatch.All"
                    ActiveClass="bg-gray-900 text-white"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                    Home
                </NavLink>
                <NavLink
                    @onclick="ToggleMobileMenu"
                    href="/blog"
                    Match="NavLinkMatch.All"
                    ActiveClass="bg-gray-900 text-white"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                    Blog
                </NavLink>
                <NavLink
                    @onclick="ToggleMobileMenu"
                    href="/toolbox"
                    Match="NavLinkMatch.All"
                    ActiveClass="bg-gray-900 text-white"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                    Toolbox
                </NavLink>
            </div>
        </div>
    }
</nav>

@code {

    private bool IsMobileMenuOpen { get; set; }

    private void ToggleMobileMenu()
    {
        IsMobileMenuOpen = !IsMobileMenuOpen;
    }

}