@using Portfolio.Components.Icons
@inject IJSRuntime JsRuntime

<button
    @onclick="ChangeTheme"
    type="button"
    class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
>
    <span class="absolute -inset-1.5"></span>
    <span class="sr-only">Toggle theme</span>
    @if (Theme == "dark")
    {
        <div class="h-6 w-6" aria-hidden="true">
            <SunIcon/>
        </div>
    }
    else
    {
        <div class="h-6 w-6" aria-hidden="true">
            <MoonIcon/>
        </div>
    }
</button>

@code
{
    private string? Theme { get; set; }

    protected override void OnInitialized()
    {
        GetTheme();
    }

    private void ChangeTheme()
    {
        Interop.ToggleTheme();
        GetTheme();
        StateHasChanged();
    }

    private void GetTheme()
    {
        var theme = Interop.GetTheme();
        Theme = theme == "light" ? "light" : "dark";
    }
}