@page "/blog/{postName}"
@inject HttpClient Http

<PageTitle>@_postTitle | Blog</PageTitle>

<Header HeaderText="@_postTitle"/>

@if (!string.IsNullOrEmpty(_renderedMarkdown))
{
    <div class="prose dark:prose-invert">
        @((MarkupString)_renderedMarkdown)
    </div>
}
else if (_isLoading)
{
    <div class="w-full rounded-md border border-blue-300 p-4">
        <div class="flex animate-pulse space-x-4">
            <div class="size-10 rounded-full bg-gray-200"></div>
            <div class="flex-1 space-y-6 py-1">
                <div class="h-2 rounded bg-gray-200"></div>
                <div class="space-y-3">
                    <div class="grid grid-cols-3 gap-4">
                        <div class="col-span-2 h-2 rounded bg-gray-200"></div>
                        <div class="col-span-1 h-2 rounded bg-gray-200"></div>
                    </div>
                    <div class="h-2 rounded bg-gray-200"></div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Post not found.</p>
}

@code {
    [Parameter] public string? PostName { get; set; }

    private string _renderedMarkdown = string.Empty;
    private string _postTitle = string.Empty;
    private bool _isLoading = true;

    protected override async Task OnParametersSetAsync()
    {
        _isLoading = true;

        if (!string.IsNullOrEmpty(PostName))
        {
            var postPath = $"blog/html/{PostName}.html";

            try
            {
                var htmlContent = await Http.GetStringAsync(postPath);
                (_renderedMarkdown, _postTitle) = Helpers.GetHtmlContent(htmlContent);
            }
            catch (HttpRequestException)
            {
                _renderedMarkdown = string.Empty;
            }
        }

        _isLoading = false;
    }

}