@page "/toolbox"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject HttpClient HttpClient

<PageTitle>Toolbox</PageTitle>

<Header HeaderText="Toolbox"/>
<ul class="ml-5 list-disc dark:text-white">
    @foreach (var toolboxFile in ToolboxFiles)
    {
        <li><a href="@toolboxFile.Url">@toolboxFile.Title</a></li>
    }
</ul>
@code {
    private List<ToolboxDetail>? ToolboxFiles { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient
            .GetStringAsync("toolbox-files/toolbox.json");
        ToolboxFiles = JsonSerializer
            .Deserialize<List<Toolbox.ToolboxDetail>>(response) ?? [];
    }

    public class ToolboxDetail
    {
        [JsonPropertyName("image")] public required string Image { get; set; }

        [JsonPropertyName("title")] public required string Title { get; set; }
        
        [JsonPropertyName("url")] public required string Url { get; set; }
    }
}